{
  "root": true,
  "extends": [
    "plugin:vue/vue3-essential",
    "eslint:recommended",
    "plugin:prettier/recommended",
    "eslint-config-prettier",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": "latest"
  }
}
